---
import Layout from "../layouts/Layout.astro";
const title = "About Us";
---

<Layout title={title}>
  <main>
    <div class="container">
      <h3>{title}</h3>
      <p>
        <strong>Sound in Motion</strong> (a.k.a. SiM) is a renowned shop specializing in sales and installations
        of High Performance Car Audio systems, as well as Video, Multimedia, Navigation, Alarms and Remote
        Car Starters. With over 50 years of combined experience, Sound in Motion is one of the most recognized
        Mobile Electronics Specialty Retailers in the nation.
      </p>
      <p>
        <strong>Established in 1988</strong> Sound in Motion is well known for its multi-award winning
        installations (see <a href="installs">Installs</a> section), several of which have been featured
        in national and international magazines (see <a href="publications">Publications</a> section).
        Many years have been spent designing and building competition vehicles. The result is a showroom
        full of trophies including two IASCA World Championships along with a lot of experience we now
        can offer to you. Read what of all our customers have to say (see the <a
          href="testimonials"
        >
          Testimonials
        </a>section).
      </p>
      <p>
        <strong>Sound in Motion</strong> is an authorized dealer for most of the high quality top name
        brands at competitive prices (visit our of <a href="products">Products</a> section). All of our
        installations are performed with the utmost care and highest quality of craftsmanship by trained
        and experienced technicians. We offer a lifetime warranty on all of our work for as long as you
        own the vehicle. Please call or come visit our store (see our<a href="contact"> Contact</a> section),
        so we can consult your Mobile Electronics needs.
      </p>
      <p>
        <strong>Derek Kenney</strong> - Owner, cleanup crew, system designer & fabricator. Born in Munich
        Germany Derek grew up being exposed to high end home audio systems from his parents HiFi import
        and distribution business. The seed was planted early, but not being able to afford a house,
        he directed his teenage years toward Car Audio. And Yes, he had a complete amplified car audio
        system functioning in his bedroom before purchasing his first car. Over the years the caliper
        and complexity of the systems grew substantially. After he was introduced to IASCA, the competition
        bug set in. Even more elaborate systems were built and car audio competitions were attended and
        won all over the country. Derek is also an aviation enthusiast, private pilot and loves to be
        outside, travel and spend time with his family.
      </p>
      <p>
        <strong>Jim Cavanaugh</strong> - Store manager, customer relations & system designer. Jim is
        the face of Sound in Motion and does it all. Having been bitten by the Car Audio bug early on
        in life, Jim never looked back. You'd be hard pressed to find anyone with better product knowledge
        or with more resourcefulness to solving customers requests. His discerning ear and constant quest
        for giving every customer the absolute best possible experience keeps all of us on our toes.
        In his free time, Jim is also an avid BMX flatland rider and great car enthusiast.
      </p>
      <p>
        <strong>Fernando Ventura</strong> - Lead technician, wiring master & incredible fabricator. With
        a lifelong dedication to the Car Audio industry and in the past, working at such legendary places
        as Rich's Car Tunes, Fernando's skills are second to none. You probably won't find anyone more
        careful and detail oriented and his creations show that over and over. When not engulfed in Car
        Audio, Fernando spends time with his family and riding / modifying his Harley Davidson.
      </p>
      <p>
        <strong>Pat Fennell</strong> - Remote start and audio expert. Pat has an incredible knowledge
        of all remote start & security brands. His many years in the industry make him an expert in this
        field and a valuable part of our team. Pat also has an incredible taste for high end audio gear
        and is constantly evolving his own systems. Besides Car Audio, Pat is also a big snowmobiler
        and loves spending time with his Lexus Car Club.
      </p>
      <p>
        <strong>Lance Perkins</strong> - Wood working, fabricator, DSP tuner. Lance is our newest team
        member and not only does he have great fabrication skills and is a quick learner, but his passion
        for that sonic excellence is unmistakable.
      </p>
    </div>
  </main>
</Layout>
