---
import Layout from '../layouts/Layout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import installData from '../data/installs/custom-fabrication.json';
import ImgCard from '../components/ImgCard.astro';
const { install } = installData;
const title = 'Custom Fabrication with Plastic, Wood, Metal etc.';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <section>
        <h1 class="display-6">{title}</h1>
        <p class="lead mb-5">
          In our business you need to be a resourceful jack-of-all-trades. This led us to becoming
          very proficient in working with Plastic, building anything from trim rings, to speaker
          mounting adapters to radio or controller housings, or entire dashboards, consoles, and
          interior parts. Our finished products have an OEM appearance and often cannot be
          distinguished. Our Woodworking skills are mostly used building custom subwoofer
          enclosures, while our welding and Metal fabrication is utilized for high strength
          applications, like floating amp or equipment racks.
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
        </div>
      </section>
      <section>
        <SectionHeading
          heading="Previous Projects"
          description="Since we've been doing this work for a while, here are a few examples of the projects we've completed in the past."
        />
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {
            install.map((item) => (
              <div class="col d-flex align-items-stretch">
                <ImgCard imgsrc={item.imgSrc} description={item.description} />
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>
