---
import Layout from '../layouts/Layout.astro';
const title = 'Dash Cameras';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <h1 class="display-6">{title}</h1>
      <p class="lead mb-5">
        A very popular and useful option is to install a front and rear facing Dash Camera. These
        units record everything while driving in high resolution and can even be programed to record
        while parked (motion & impact detection). Should the unthinkable accident or vandalism
        occur, you now have access to the “real story”. We recommend reputable, high-quality units,
        since it is kind of is a set-and-forget item, that hopefully you will never need. With
        inferior units, we have seen failure after several months, rendering them useless when an
        actual incident occurs and you need the footage.
      </p>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
          <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
              x="50%"
              y="50%"
              fill="#aaa"
              dy=".3em">500x500</text
            >
          </svg>
        </div>
        <div class="col">
          <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
              x="50%"
              y="50%"
              fill="#aaa"
              dy=".3em">500x500</text
            >
          </svg>
        </div>
        <div class="col">
          <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
              x="50%"
              y="50%"
              fill="#aaa"
              dy=".3em">500x500</text
            >
          </svg>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss"></style>
