---
import Layout from '../layouts/Layout.astro';
import installData from '../data/installs/defense-systems.json';
import ImgCard from '../components/ImgCard.astro';
const { install } = installData;
const title = 'Radar & Laser Detection and Defense Systems';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <section>
        <h1 class="display-6 mb-5">{title}</h1>
        <p class="lead mb-5">
          Because we don't like to intrude on your clean looking interior, we specialize in
          concealed Radar Detection Systems. Our top seller is K-40. They offer a complete stealth
          install with warning LED's and piezo speakers carefully integrated into your dash. Of
          course we also hardwire (concealing the switched power supply cable) a lot of Valentine
          One (or other) dash mount units.
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {
            install.map((item) => (
              <div class="col d-flex align-items-stretch">
                <ImgCard imgsrc={item.imgSrc} description={item.description} />
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>
