---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import SimLogo from '../components/SimLogo.astro';
import SectionHeading from '../components/SectionHeading.astro';
import SimServices from '../components/SimServices.astro';
import CardoneServices from '../components/CardoneServices.astro';
import Instagram from '../components/Instagram.astro';
---

<Layout title="Boston's Best Mobile Entertainment Design, Installation & Custom Fabrication Shops">
  <main class="flex-shrink-0">
    <Carousel />
    <div class="container fade-in">
      <section class="logo-container d-flex">
        <SimLogo />
      </section>
      <section>
        <SectionHeading
          heading="What We Offer"
          description="Consultation, Design, Sales and Installation of the following:"
        />
        <SimServices />
      </section>
      <section>
        <CardoneServices />
      </section>
      <section>
        <SectionHeading
          heading="Social Media"
          description="To see what is currently going on at the shop visit and folow us on Instagram."
        />
        <Instagram />
      </section>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    padding-top: 0;
  }

  section:last-child {
    margin-bottom: 0;
  }

  .logo-container {
    justify-content: center;
    padding-top: 1rem;
  }

  @media (min-width: 992px) {
    section:nth-child(n + 2):nth-child(-n + 3) {
      margin-bottom: 10rem;
    }

    .logo-container {
      justify-content: flex-end;
      margin-bottom: -2rem;
    }
  }
</style>
