---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import CardoneServices from '../components/CardoneServices.astro';
import PorscheUpgrades from '../components/PorscheUpgrades.astro';
import SimLogo from '../components/SimLogo.astro';
import IconCaret from '../components/IconCaret.astro';
import { SIM_RED, SIM_GRAY, SIM_WHITE } from '../config';

const headingTitle = SIM_RED;
---

<Layout title="Boston's Best Mobile Entertainment Design, Installation & Custom Fabrication Shops">
  <main class="flex-shrink-0">
    <Carousel />
    <div class="container">
      <section class="logo-container d-flex">
        <SimLogo />
      </section>
      <section id="sim-services">
        <h3 class="display-6">What We Offer</h3>
        <p class="lead">Consultation, Design, Sales and Installation of the following:</p>

        <ul class="list-unstyled">
          <li>
            <IconCaret class="caret" />
            <a href="fullSystemInstalls.html">Upgraded and High Performance Car Audio Systems</a>
          </li>

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=0">Apple CarPlay & Android Auto Integration</a>
          </li>

          <li>
            <IconCaret class="caret" />

            <a href="installsDetail.html?id=4">Radar & Laser Detection and Defense Systems</a>
          </li>

          <li>
            <IconCaret class="caret" />
            <a href="/products/porsche-cupholder">Porsche Specific Upgrades & Fixes</a>
          </li>

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=5">Back-Up, Front & 360 Birdseye View Cameras</a>
          </li>

          <li>
            <IconCaret class="caret" />
            Advanced DSP Tuning
          </li>

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=7">Sound Deadening</a>
          </li>

          <li>
            <IconCaret class="caret" />
            ADAS (Advanced Driver Assistance Systems)
          </li>

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=11">Remote Car Starters & Security Systems</a>
          </li>
          <!-- <a href="installsDetail.html?id=10">Vehicle Security Systems</a> car starters and security will be merged -->

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=2">Satellite & HD Radio Integration</a>
          </li>
          <!-- <li><a href="installsDetail.html?id=8">HD Radio</a></li> HD radio and Satellite will be merged -->

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=13">LED Lighting Upgrades</a>
          </li>

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=3">GPS Tracking and Fleet Management Systems</a>
          </li>
          <!-- <li><a href="installsDetail.html?id=12">GPS Tracking Systems</a></li> -->

          <li>
            <IconCaret class="caret" />
            <a href="installsDetail.html?id=14">Custom Fabrication with Plastic, Wood, Metal etc.</a
            >
          </li>
        </ul>
      </section>
      <CardoneServices />
      <PorscheUpgrades />
    </div>
  </main>
</Layout>

<style lang="scss" define:vars={{ headingTitle }}>
  main {
    padding-top: 0;
  }

  h3 {
    border-bottom: 2px solid var(--headingTitle);
    padding-bottom: 0.5rem;
    + p {
      margin-bottom: 2rem;
    }
  }

  .logo-container {
    justify-content: center;
    padding-top: 1rem;
  }

  #sim-services {
    ul {
      padding-left: 0;
      list-style: none;
    }

    li {
      margin-bottom: 1rem;
      .caret {
        color: var(--headingTitle);
        vertical-align: baseline;
        display: none;
      }
    }
  }

  @media (min-width: 375px) {
    #sim-services li {
      font-size: 1.2rem;
      .caret {
        display: inline;
      }
    }
  }

  @media (min-width: 992px) {
    .logo-container {
      justify-content: flex-end;
      margin-bottom: -2rem;
    }

    #sim-services {
      ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
      }

      li {
        margin-bottom: 1rem;
        flex-basis: 50%;
        .caret {
          color: var(--headingTitle);
          vertical-align: baseline;
        }
      }
    }
  }
</style>
