---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Boston's Best Mobile Entertainment Design, Installation & Custom Fabrication Shops">
  <main class="flex-shrink-0">
    <Carousel />
    <div class="container">
      <h4>What We Offer</h4>
      <p>Consultation, Design, Sales and Installation of the following</p>
      <ul>
        <li>
          <a href="fullSystemInstalls.html">Upgraded and High Performance Car Audio Systems</a>
        </li>
        <li><a href="installsDetail.html?id=0">iPod Integration</a></li>
        <li>
          <a href="installsDetail.html?id=1">Bluetooth and Hands-Free Phone Kits</a>
        </li>
        <li>
          <a href="installsDetail.html?id=2">Satellite Radio, XM / Sirius</a>
        </li>
        <li><a href="installsDetail.html?id=3">GPS Navigation</a></li>
        <li>
          <a href="installsDetail.html?id=4">Radar / Laser Detectors and Jammers</a>
        </li>
        <li>
          <a href="installsDetail.html?id=5">Back-Up Cameras and Sensors</a>
        </li>
        <li><a href="installsDetail.html?id=6">Video Entertainment</a></li>
        <li><a href="installsDetail.html?id=7">Sound Deadening</a></li>
        <li><a href="installsDetail.html?id=8">HD Radio</a></li>
        <li><a href="installsDetail.html?id=9">Window Tinting</a></li>
        <li>
          <a href="installsDetail.html?id=10">Vehicle Security Systems</a>
        </li>
        <li><a href="installsDetail.html?id=11">Remote Car Starters</a></li>
        <li><a href="installsDetail.html?id=12">GPS Tracking Systems</a></li>
        <li>
          <a href="installsDetail.html?id=13">HID / Xenon Headlight Upgrades</a>
        </li>
        <li>
          <a href="installsDetail.html?id=14">Custom Fabrication with Plastic, Wood, Metal etc.</a>
        </li>
        <li><a href="installsDetail.html?id=15">Wheel and Tire Packages</a></li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    padding-top: 0;
  }
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }

  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    letter-spacing: -0.05rem;
  }

  @media (min-width: 40em) {
    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
</style>
