---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import SectionHeading from '../components/SectionHeading.astro';
import SimServices from '../components/SimServices.astro';
import CardoneServices from '../components/CardoneServices.astro';
import PorscheUpgrades from '../components/PorscheUpgrades.astro';
import SimLogo from '../components/SimLogo.astro';
---

<Layout title="Boston's Best Mobile Entertainment Design, Installation & Custom Fabrication Shops">
  <main class="flex-shrink-0">
    <Carousel />
    <div class="container fade-in">
      <section class="logo-container d-flex">
        <SimLogo />
      </section>
      <section>
        <SectionHeading
          heading={'What We Offer'}
          description={'Consultation, Design, Sales and Installation of the following:'}
        />
        <SimServices />
      </section>
      <section>
        <CardoneServices />
      </section>
      <!-- <section>
        <PorscheUpgrades />
      </section> -->
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    padding-top: 0;
  }

  .logo-container {
    justify-content: center;
    padding-top: 1rem;
  }

  @media (min-width: 992px) {
    .logo-container {
      justify-content: flex-end;
      margin-bottom: -2rem;
    }
  }
</style>
