---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import soundInMotionImg from "../images/logos/sound-in-motion.png";
---

<Layout title="Boston's Best Mobile Entertainment Design, Installation & Custom Fabrication Shops">
  <main class="flex-shrink-0">
    <Carousel />
    <div class="container">
      <div id="sim">
        <img
          src={soundInMotionImg}
          alt="Sound in Motion - High Performance Car Audio - Boston MA"
        />
        <h4>High Performance Car Audio - Boston MA</h4>
      </div>
      <h4>What We Offer</h4>
      <p>Consultation, Design, Sales and Installation of the following</p>
      <ul>
        <li>
          <a href="fullSystemInstalls.html">Upgraded and High Performance Car Audio Systems</a>
        </li>
        <li><a href="installsDetail.html?id=0">iPod Integration</a></li>
        <li>
          <a href="installsDetail.html?id=1">Bluetooth and Hands-Free Phone Kits</a>
        </li>
        <li>
          <a href="installsDetail.html?id=2">Satellite Radio, XM / Sirius</a>
        </li>
        <li><a href="installsDetail.html?id=3">GPS Navigation</a></li>
        <li>
          <a href="installsDetail.html?id=4">Radar / Laser Detectors and Jammers</a>
        </li>
        <li>
          <a href="installsDetail.html?id=5">Back-Up Cameras and Sensors</a>
        </li>
        <li><a href="installsDetail.html?id=6">Video Entertainment</a></li>
        <li><a href="installsDetail.html?id=7">Sound Deadening</a></li>
        <li><a href="installsDetail.html?id=8">HD Radio</a></li>
        <li><a href="installsDetail.html?id=9">Window Tinting</a></li>
        <li>
          <a href="installsDetail.html?id=10">Vehicle Security Systems</a>
        </li>
        <li><a href="installsDetail.html?id=11">Remote Car Starters</a></li>
        <li><a href="installsDetail.html?id=12">GPS Tracking Systems</a></li>
        <li>
          <a href="installsDetail.html?id=13">HID / Xenon Headlight Upgrades</a>
        </li>
        <li>
          <a href="installsDetail.html?id=14">Custom Fabrication with Plastic, Wood, Metal etc.</a>
        </li>
        <li><a href="installsDetail.html?id=15">Wheel and Tire Packages</a></li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    padding-top: 0;
  }

  #sim {
    margin-bottom: 5rem;
    text-align: center;
  }

  #sim img {
    width: 280px;
  }

  #sim h4 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    margin-top: 0.5rem;
  }

  @media (max-width: 420px) {
    #sim h4 {
      font-size: 1rem;
    }
  }

  @media (min-width: 420px) {
    #sim img {
      width: 350px;
    }
  }

  @media (min-width: 575px) {
    #sim {
      text-align: left;
    }
  }

  @media (min-width: 768px) {
    #sim img {
      width: 500px;
    }
  }
</style>
