---
import Layout from '../layouts/Layout.astro';
const title = 'Installs';
---

<Layout title={title}>
  <main>
    <div class="container">
      <h1 class="display-6">{title}</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, aliquid ea. Omnis obcaecati
        inventore labore architecto molestiae! Dicta porro ut totam consequuntur dolorum consequatur
        facere minima illum saepe repellat quibusdam maiores voluptas quo ratione, tempore, sapiente
        exercitationem omnis itaque qui corporis dolor laboriosam fuga explicabo optio. Dolore
        aperiam rem necessitatibus.
      </p>
    </div>
  </main>
</Layout>
