---
import Layout from "../layouts/Layout.astro";
import ProductLines from "../components/ProductLines.astro";
import PorscheCuphoder from "../components/PorscheCuphoder.astro";
import PorscheSubwoofer from "../components/PorscheSubwoofer.astro";
import PorscheSpeakerFix from "../components/PorscheSpeakerFix.astro";
import PorscheDoorPocketFix from "../components/PorscheDoorPocketFix.astro";
import { SIM_RED, SIM_BLACK } from "../config";
const title = "Products";
const tabColor = SIM_BLACK;
const tabColorActive = SIM_RED;
---

<Layout title={title}>
  <main>
    <div class="container">
      <!-- <h1>{title}</h1> -->

      <ul class="nav nav-pills mt-3 mb-5" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="sim-product-lines-tab"
            data-bs-toggle="pill"
            data-bs-target="#sim-product-lines"
            type="button"
            role="tab"
            aria-controls="sim-product-lines"
            aria-selected="false">Product Lines</button
          >
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="porsche-cup-holder-tab"
            data-bs-toggle="pill"
            data-bs-target="#porsche-cup-holder"
            type="button"
            role="tab"
            aria-controls="porsche-cup-holder"
            aria-selected="true"><span class="d-none d-lg-inline">Porsche</span> Cup Holder</button
          >
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="porsche-subwoofer-tab"
            data-bs-toggle="pill"
            data-bs-target="#porsche-subwoofer"
            type="button"
            role="tab"
            aria-controls="porsche-subwoofer"
            aria-selected="false"><span class="d-none d-lg-inline">Porsche</span> Subwoofer</button
          >
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="porsche-speaker-fix-tab"
            data-bs-toggle="pill"
            data-bs-target="#porsche-speaker-fix"
            type="button"
            role="tab"
            aria-controls="porsche-speaker-fix"
            aria-selected="false"
            ><span class="d-none d-lg-inline">Porsche</span> Speaker Fix</button
          >
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="porsche-door-pocket-fix-tab"
            data-bs-toggle="pill"
            data-bs-target="#porsche-door-pocket-fix"
            type="button"
            role="tab"
            aria-controls="porsche-door-pocket-fix"
            aria-selected="false"><span class="d-none d-lg-inline">Porsche</span> Door Fix</button
          >
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="sim-product-lines"
          role="tabpanel"
          aria-labelledby="sim-product-lines-tab"
          tabindex="0"
        >
          <ProductLines />
        </div>
        <div
          class="tab-pane fade"
          id="porsche-cup-holder"
          role="tabpanel"
          aria-labelledby="porsche-cup-holder-tab"
          tabindex="0"
        >
          <PorscheCuphoder />
        </div>
        <div
          class="tab-pane fade"
          id="porsche-subwoofer"
          role="tabpanel"
          aria-labelledby="porsche-subwoofer-tab"
          tabindex="0"
        >
          <PorscheSubwoofer />
        </div>
        <div
          class="tab-pane fade"
          id="porsche-speaker-fix"
          role="tabpanel"
          aria-labelledby="porsche-speaker-fix-tab"
          tabindex="0"
        >
          <PorscheSpeakerFix />
        </div>
        <div
          class="tab-pane fade"
          id="porsche-door-pocket-fix"
          role="tabpanel"
          aria-labelledby="porsche-door-pocket-fix-tab"
          tabindex="0"
        >
          <PorscheDoorPocketFix />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style define:vars={{ tabColor, tabColorActive }}>
  .nav-link {
    color: var(--tabColor);
  }
  .nav-link:focus,
  .nav-link:hover {
    color: var(--tabColorActive);
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 0.3rem solid var(--tabColorActive);
    color: var(--tabColorActive);
  }
</style>
