---
import Layout from "../layouts/Layout.astro";
const title = "Publications";
---

<Layout title={title}>
  <main>
    <div class="container">
      <h1 class="display-6">{title}</h1>
    </div>
  </main>
</Layout>
