---
import Layout from '../layouts/Layout.astro';
const title = 'Remote Car Starters & Security Systems';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <h1 class="display-6">{title}</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptates fuga
        molestiae illo expedita facere recusandae nostrum, rem saepe in ad. Sint deserunt, sed et
        possimus odit qui, iste commodi quam beatae vero quis fugit. At expedita aut inventore quas
        soluta error cum, velit ipsum consectetur doloribus, voluptatum perferendis eaque.
      </p>
    </div>
  </main>
  <style lang="scss"></style>
</Layout>
