---
import Layout from '../layouts/Layout.astro';
import installData from '../data/installs/car-cameras.json';
import ImgCard from '../components/ImgCard.astro';
const { install } = installData;
const title = 'Remote Car Starters & Security Systems';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <section>
        <h1 class="display-6 mb-5">{title}</h1>
        <p class="lead mb-5">
          If you don't enjoy getting into a freezing cold or steaming hot car, this is for you. We
          sell only the best and most reliable product from DEI (Viper, Valet and Hornet). The new
          two-way remotes have a range of up to one mile and an indicator letting you know if your
          car is running or locked, even if you can't see it.
        </p>
        <p class="lead mb-5">
          Directed Electronics "Viper" line is our alarm of choice. Along with a lifetime warranty,
          they offer the highest quality and are well thought out. Their interfaces are second to
          none to make things work flawlessly with today's complex vehicles. We have also developed
          specialty alarms to integrate with the factory systems like our xenon headlight alarm,
          motorcycle / saddlebags, hood-emblem, work-truck or anything you can think of alarm. New
          two-way remotes will page you up to a mile away if some one is tampering with your
          vehicle.
        </p>
        <!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {
            install.map((item) => (
              <div class="col d-flex align-items-stretch">
                <ImgCard imgsrc={item.imgSrc} description={item.description} />
              </div>
            ))
          }
        </div> -->
      </section>
    </div>
  </main>
</Layout>
