---
import Layout from '../layouts/Layout.astro';
import SimServices from '../components/SimServices.astro';
const title = 'Services';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <h1 class="display-6">{title}</h1>
      <p class="lead mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, aliquid ea. Omnis obcaecati
        inventore labore architecto molestiae! Dicta porro ut totam consequuntur dolorum consequatur
        facere minima illum saepe repellat quibusdam maiores voluptas quo ratione, tempore, sapiente
        exercitationem omnis itaque qui corporis dolor laboriosam fuga explicabo optio. Dolore
        aperiam rem necessitatibus.
      </p>
      <section>
        <SimServices />
      </section>
    </div>
  </main>
</Layout>
