---
import Layout from '../layouts/Layout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import installData from '../data/installs/sound-deadening.json';
import ImgCard from '../components/ImgCard.astro';
const { install } = installData;
const title = 'Sound Deadening';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <section>
        <h1 class="display-6">{title}</h1>
        <p class="lead mb-5">
          Adding some Sound Deadening is probably one of the best investments you can make to your
          vehicle. The OEM will never add an extra dollar or an extra ounce that is not absolutely
          necessary. We found a great balance of performance versus diminishing returns as to where
          and how much we install. This is a must, if you are upgrading your speakers, but can also
          significantly enhance any vehicle, by mitigating unwanted road, engine, tire, and wind
          noise.
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
        </div>
      </section>
      <section>
        <SectionHeading
          heading="Previous Projects"
          description="Since we've been doing this work for a while, here are a few examples of the projects we've completed in the past."
        />
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {
            install.map((item) => (
              <div class="col d-flex align-items-stretch">
                <ImgCard imgsrc={item.imgSrc} description={item.description} />
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>
