---
import Layout from '../layouts/Layout.astro';
import installData from '../data/installs/sound-deadening.json';
import ImgCard from '../components/ImgCard.astro';
const { install } = installData;
const title = 'Sound Deadening';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <section>
        <h1 class="display-6 mb-5">{title}</h1>
        <p class="lead mb-5">
          This simple feature is so often overlooked. While car manufacturers are always trying to
          make cars cheaper and lighter, sound deadening is the first to go. We use "Dynamat
          Extreme" extensively to keep out unwanted road noise, while tremendously improving the
          sound of your system inside. Doors are a must, floor and rear deck / firewalls are
          recommended and the roof is for the elite. Notice that we don't just stick it over the
          wires but rather under them, for better performance or in case servicing is required.
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {
            install.map((item) => (
              <div class="col d-flex align-items-stretch">
                <ImgCard imgsrc={item.imgSrc} description={item.description} />
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>
