---
import Layout from '../layouts/Layout.astro';
import installData from '../data/installs/car-cameras.json';
import ImgCard from '../components/ImgCard.astro';
const { install } = installData;
const title = 'GPS Tracking and Fleet Management Systems';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <section>
        <h1 class="display-6 mb-5">{title}</h1>
        <p class="lead mb-5">
          Do you own a fleet of vehicles driven by employees, or just want to know where your
          teenager is? Tracking systems can cover real-time or downloadable information letting you
          know when the vehicle was driven, where it went, how fast it went, where it stopped and
          anything else you desire. The real-time or active systems can also help in case a vehicle
          is stolen or driven beyond a designated perimeter. This is called "Geofencing".
        </p>
        <!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {
            install.map((item) => (
              <div class="col d-flex align-items-stretch">
                <ImgCard imgsrc={item.imgSrc} description={item.description} />
              </div>
            ))
          }
        </div> -->
      </section>
    </div>
  </main>
</Layout>
