---
import { SIM_WHITE, SIM_BLACK } from "../config";
import soundInMotionImg from "../images/logos/sound-in-motion.png";

const borderColor = SIM_WHITE;
const textColor = SIM_BLACK;
---

<div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <!-- <div id="sim-fixed">
    <img src={soundInMotionImg} alt="Sound in Motion - High Performance Car Audio - Boston MA" />
    <h3>High Performance Car Audio - Boston MA</h3>
  </div> -->
  <div id="sim-container">
    <div id="sim" class="d-flex justify-content-center align-items-center">
      <div>
        <img
          src={soundInMotionImg}
          alt="Sound in Motion - High Performance Car Audio - Boston MA"
          class="img-fluid"
        />
        <h4>High Performance Car Audio <span class="d-none d-md-inline">- Boston MA</span></h4>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="carousel-inner">
    <div class="carousel-item slide-1 active"></div>
    <div class="carousel-item slide-2"></div>
    <div class="carousel-item slide-3"></div>
    <div class="carousel-item slide-4"></div>
    <div class="carousel-item slide-5"></div>
    <div class="carousel-item slide-6"></div>
    <div class="carousel-item slide-7"></div>
    <div class="carousel-item slide-8"></div>
  </div>

  <!-- <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#homeCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#homeCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>

<style define:vars={{ borderColor, textColor }}>
  /* #sim-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: auto;
    padding-top: 0.7rem;
    background-color: rgba(246, 246, 246, 0.8);
    width: 620px;
    height: 105px;
    text-align: center;
    aspect-ratio: 1;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
  }
  #sim-fixed h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    margin-top: 0.25rem;
    color: var(--textColor);
  } */

  #sim-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  #sim {
    height: 15rem;
    padding: 0 2rem;
  }

  #sim > div {
    padding: 1rem;
    background-color: rgba(246, 246, 246, 0.8);
    border-radius: 0.375rem;
    text-align: center;
  }

  #sim h4 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    margin-top: 0.25rem;
    color: var(--textColor);
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    opacity: 0.3;
  }

  .carousel {
    border-top: 0.3rem solid var(--borderColor);
    margin-bottom: 4rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 15;
  }

  .carousel-item {
    height: 15rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slide-1 {
    background-image: url("../images/homePage/001.jpg");
  }

  .slide-2 {
    background-image: url("../images/homePage/002.jpg");
  }

  .slide-3 {
    background-image: url("../images/homePage/003.jpg");
  }

  .slide-4 {
    background-image: url("../images/homePage/004.jpg");
  }

  .slide-5 {
    background-image: url("../images/homePage/005.jpg");
  }

  .slide-6 {
    background-image: url("../images/homePage/006.jpg");
  }

  .slide-7 {
    background-image: url("../images/homePage/007.jpg");
  }

  .slide-8 {
    background-image: url("../images/homePage/008.jpg");
  }

  @media (max-width: 767px) {
    #sim img {
      max-width: 250px;
    }

    #sim h4 {
      font-size: 1rem;
    }
  }

  @media (min-width: 575px) {
    #sim,
    .carousel-item {
      height: 25rem;
    }
  }

  @media (min-width: 768px) {
    #sim,
    .carousel-item {
      height: 35rem;
    }
  }

  @media (min-width: 992px) {
    #sim,
    .carousel-item {
      height: 45rem;
    }
  }

  @media (min-width: 1400px) {
    #sim,
    .carousel-item {
      height: 55rem;
    }
  }
</style>
