<div
  id="homeCarousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
  data-bs-interval="4000"
  data-bs-pause="false"
>
  <div class="overlay"></div>
  <div class="carousel-inner">
    <div class="carousel-item slide-7 active">
      <div class="container">
        <img src="/homepage/07.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-1">
      <div class="container">
        <img src="/homepage/01.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-2">
      <div class="container">
        <img src="/homepage/02.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-3">
      <div class="container">
        <img src="/homepage/03.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-4">
      <div class="container">
        <img src="/homepage/04.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-5">
      <div class="container">
        <img src="/homepage/05.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-6">
      <div class="container">
        <img src="/homepage/06.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-8">
      <div class="container">
        <img src="/homepage/08.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-9">
      <div class="container">
        <img src="/homepage/09.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-10">
      <div class="container">
        <img src="/homepage/010.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-11">
      <div class="container">
        <img src="/homepage/011.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-12">
      <div class="container">
        <img src="/homepage/012.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-13">
      <div class="container">
        <img src="/homepage/013.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-14">
      <div class="container">
        <img src="/homepage/014.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-15">
      <div class="container">
        <img src="/homepage/015.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-16">
      <div class="container">
        <img src="/homepage/016.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-17">
      <div class="container">
        <img src="/homepage/017.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-18">
      <div class="container">
        <img src="/homepage/018.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-19">
      <div class="container">
        <img src="/homepage/019.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-20">
      <div class="container">
        <img src="/homepage/020.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-21">
      <div class="container">
        <img src="/homepage/021.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-22">
      <div class="container">
        <img src="/homepage/022.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-23">
      <div class="container">
        <img src="/homepage/023.jpg" alt="" />
      </div>
    </div>
    <div class="carousel-item slide-24">
      <div class="container">
        <img src="/homepage/024.jpg" alt="" />
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#homeCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#homeCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style lang="scss">
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    opacity: 0.3;
  }

  // .carousel {
  //   border-top: 0.1rem solid var(--sim-white);
  // }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 15;
  }

  .carousel-item {
    height: 15rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img {
      display: none;
    }
  }

  .slide-1 {
    background-image: url('/homepage/01.jpg');
  }

  .slide-2 {
    background-image: url('/homepage/02.jpg');
  }

  .slide-3 {
    background-image: url('/homepage/03.jpg');
  }

  .slide-4 {
    background-image: url('/homepage/04.jpg');
  }

  .slide-5 {
    background-image: url('/homepage/05.jpg');
  }

  .slide-6 {
    background-image: url('/homepage/06.jpg');
  }

  .slide-7 {
    background-image: url('/homepage/07.jpg');
  }

  .slide-8 {
    background-image: url('/homepage/08.jpg');
  }

  .slide-9 {
    background-image: url('/homepage/09.jpg');
  }

  .slide-10 {
    background-image: url('/homepage/010.jpg');
  }

  .slide-11 {
    background-image: url('/homepage/011.jpg');
  }

  .slide-12 {
    background-image: url('/homepage/012.jpg');
  }

  .slide-13 {
    background-image: url('/homepage/013.jpg');
  }

  .slide-14 {
    background-image: url('/homepage/014.jpg');
  }

  .slide-15 {
    background-image: url('/homepage/015.jpg');
  }

  .slide-16 {
    background-image: url('/homepage/016.jpg');
  }

  .slide-17 {
    background-image: url('/homepage/017.jpg');
  }

  .slide-18 {
    background-image: url('/homepage/018.jpg');
  }

  .slide-19 {
    background-image: url('/homepage/019.jpg');
  }

  .slide-20 {
    background-image: url('/homepage/020.jpg');
  }

  .slide-21 {
    background-image: url('/homepage/021.jpg');
  }

  .slide-22 {
    background-image: url('/homepage/022.jpg');
  }

  .slide-23 {
    background-image: url('/homepage/023.jpg');
  }

  .slide-24 {
    background-image: url('/homepage/024.jpg');
  }

  .slide-25 {
    background-image: url('/homepage/025.jpg');
  }

  @media (min-width: 576px) {
    .carousel-item {
      height: 25rem;
    }
  }

  @media (min-width: 768px) {
    .carousel-item {
      height: 30rem;
    }
  }

  @media (min-width: 992px) {
    .carousel-item {
      height: 35rem;
    }
  }

  @media (min-width: 1400px) {
    .carousel-item {
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(7px);
      }
      .container {
        height: 100%;
        max-width: 1600px;
        padding: 0;
      }
      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
