---
import { SIM_WHITE, SIM_BLACK } from "../config";

const borderColor = SIM_WHITE;
const textColor = SIM_BLACK;
---

<div id="homeCarousel" class="carousel slide carousel-fade2" data-bs-ride="carousel">
  <div class="overlay"></div>
  <div class="carousel-inner">
    <div class="carousel-item slide-1 active"></div>
    <div class="carousel-item slide-2"></div>
    <div class="carousel-item slide-3"></div>
    <div class="carousel-item slide-4"></div>
    <div class="carousel-item slide-5"></div>
    <div class="carousel-item slide-6"></div>
    <div class="carousel-item slide-7"></div>
    <div class="carousel-item slide-8"></div>
  </div>

  <!-- <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#homeCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#homeCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>

<style define:vars={{ borderColor, textColor }}>
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    opacity: 0.3;
  }

  .carousel {
    border-top: 0.3rem solid var(--borderColor);
    margin-bottom: 4rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 15;
  }

  .carousel-item {
    height: 15rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slide-1 {
    background-image: url("../images/homepage/001.jpg");
  }

  .slide-2 {
    background-image: url("../images/homepage/002.jpg");
  }

  .slide-3 {
    background-image: url("../images/homepage/003.jpg");
  }

  .slide-4 {
    background-image: url("../images/homepage/004.jpg");
  }

  .slide-5 {
    background-image: url("../images/homepage/005.jpg");
  }

  .slide-6 {
    background-image: url("../images/homepage/006.jpg");
  }

  .slide-7 {
    background-image: url("../images/homepage/007.jpg");
  }

  .slide-8 {
    background-image: url("../images/homepage/008.jpg");
  }

  @media (max-width: 767px) {
    #sim img {
      max-width: 250px;
    }

    #sim h4 {
      font-size: 1rem;
    }
  }

  @media (min-width: 576px) {
    .carousel-item {
      height: 25rem;
    }
  }

  @media (min-width: 768px) {
    .carousel-item {
      height: 35rem;
    }
  }

  @media (min-width: 992px) {
    .carousel-item {
      height: 45rem;
    }
  }

  @media (min-width: 1400px) {
    .carousel-item {
      height: 55rem;
    }
  }
</style>
