---
import soundInMotionImg from "../images/logos/sound-in-motion.png";
---

<div id="sim" class="d-flex justify-content-center align-items-center">
  <div>
    <img src={soundInMotionImg} alt="Sound in Motion - High Performance Car Audio - Boston MA" />
    <h5>High Performance Car Audio - Boston MA</h5>
  </div>
</div>
<style>
  #sim {
    height: 35rem;
  }

  #sim > div {
    padding: 2rem;
    background-color: rgba(246, 246, 246, 0.8);
    border-radius: 0.5rem;
    width: 420px;
    text-align: center;
  }

  #sim h5 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    margin-top: 0.25rem;
  }
</style>
