---
import HeaderLink from "./HeaderLink.astro";
import logo from "../images/logos/sim-white.svg";
import { SIM_RED, SIM_RED_SECONDARY, SIM_WHITE } from "../config";

const navBackgroundColor = SIM_RED;
const navColor = SIM_WHITE;
const linkActiveColor = SIM_RED_SECONDARY;
---

<header>
  <nav class="navbar navbar-expand-lg navbar-dark2 fixed-top bg-dark2">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src={logo} alt="Sound in Motion logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <HeaderLink href="/">Home</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/about">About</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/installs">Installs</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/products">Products</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/testimonials">Testimonials</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/publications">Publications</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/contact">Contact</HeaderLink>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
</header>
<style define:vars={{ navBackgroundColor, navColor, linkActiveColor }}>
  .navbar {
    padding: 0;
    background-color: var(--navBackgroundColor);
  }
  .navbar-collapse {
    border-top: 0.3rem solid var(--navColor);
  }
  .navbar-brand img {
    max-width: 150px;
  }
  .navbar-toggler {
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .nav-link {
    font-size: 1.5em;
  }
  .navbar-nav .nav-link {
    color: var(--navColor);
    padding: 1.2rem 2rem 1.5rem;
    border-top: 0.3rem solid transparent;
  }
  .navbar-nav .nav-link:hover {
    background-color: var(--linkActiveColor);
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    color: var(--navColor);
    background-color: var(--linkActiveColor);
  }

  @media (min-width: 992px) {
    .navbar-collapse {
      border-top: none;
    }
    .navbar-nav .nav-link.active,
    .navbar-nav .show > .nav-link {
      border-top: 0.3rem solid var(--navColor);
      background-color: transparent;
    }
  }

  @media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (min-width: 1400px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
</style>
