---
import HeaderLink from './HeaderLink.astro';
import logo from '../images/logos/sim-logo-white.svg';
---

<header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src={logo} alt="Sound in Motion logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <HeaderLink href="/">Home</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/about">About</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/services">Services</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/porsche" id="nav-porsche">Porsche</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/products">Products</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/media/social" id="nav-media">Media</HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink href="/contact">Contact</HeaderLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<style lang="scss">
  .navbar {
    padding: 0;
    background-color: var(--sim-red);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
  }

  .navbar-brand img {
    max-width: 100px;
  }

  .navbar-toggler {
    border: none;
    color: var(--sim-white);
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .navbar-toggler-icon {
    background-image: url(../images/list.svg);
    background-size: 140%;
  }

  .nav-link {
    font-size: 1.3em;
  }

  .navbar-nav {
    height: 100vh;
    .nav-link {
      color: var(--sim-white);
      padding: 0.7rem 2rem 1rem;
      border-top: 0.3rem solid transparent;
      &:hover {
        background-color: var(--sim-red-secondary);
      }
    }
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    color: var(--sim-white);
    background-color: var(--sim-red-secondary);
    border-radius: 0.25rem;
  }

  @media (min-width: 992px) {
    .navbar-nav {
      height: auto;
    }

    .navbar-brand img {
      max-width: 120px;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show > .nav-link {
      border-top: 0.3rem solid var(--sim-white);
      background-color: transparent;
      border-radius: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (min-width: 1200px) {
    .navbar-brand {
      margin-right: 4rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
</style>
