---
export interface Props {
  description: string;
  imgsrc: string;
}

const { imgsrc, description } = Astro.props;
---

<div class="card shadow-sm">
  <img src={imgsrc} alt={description} />
  <div class="card-body">
    <p class="card-text">{description}</p>
  </div>
</div>
<style>
  .card {
    border: none;
  }

  img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }
</style>
