---
export interface Props {
  cardTitle: string;
  imgsrc: string;
  href: string;
  ribbon?: boolean;
}

import Ribbon from "./Ribbon.astro";
const { imgsrc, cardTitle, href, ribbon } = Astro.props;
---

<div class="card shadow-sm">
  {ribbon && <Ribbon ribbonTitle="popular" />}
  <img src={imgsrc} alt={cardTitle} />
  <div class="card-body">
    <h5 class="card-title">{cardTitle}</h5>
    <a href={href} class="stretched-link"></a>
  </div>
</div>
<style>
  .card {
    border: none;
    padding: 1.2rem;
  }

  .card-body {
    padding-top: 1rem;
  }

  .card-title {
    margin-bottom: 0;
  }

  img {
    border-top-left-radius: 0.175rem;
    border-top-right-radius: 0.175rem;
  }
</style>
