---
import HeaderLink from './HeaderLink.astro';
---

<div class="container">
  <ul class="nav mt-3 mb-5">
    <li class="nav-item">
      <HeaderLink href="/media/social">Social</HeaderLink>
    </li>
    <li class="nav-item">
      <HeaderLink href="/media/testimonials">Testimonials</HeaderLink>
    </li>
    <li class="nav-item">
      <HeaderLink href="/media/publications">Publications</HeaderLink>
    </li>
  </ul>
</div>

<style lang="scss">
  .nav-link {
    font-weight: 600;
    color: var(--sim-gray);
    &.active {
      background-color: transparent;
      border-radius: 0;
      border-bottom: 0.3rem solid var(--sim-red);
      color: var(--sim-red);
    }
  }
  .nav-link:focus,
  .nav-link:hover {
    color: var(--sim-red);
  }
</style>

<script define:vars={{}}>
  const navItemProducts = document?.getElementById('nav-media');
  navItemProducts?.classList.add('active');
</script>
