---
import HeaderLink from './HeaderLink.astro';
---

<div class="container">
  <ul class="nav mt-3 mb-5">
    <li class="nav-item">
      <HeaderLink href="/porsche/porsche-cupholder"
        ><span class="d-none d-lg-inline">Porsche</span> Cup Holder</HeaderLink
      >
    </li>
    <li class="nav-item">
      <HeaderLink href="/porsche/porsche-subwoofer"
        ><span class="d-none d-lg-inline">Porsche</span> Subwoofer</HeaderLink
      >
    </li>
    <li class="nav-item">
      <HeaderLink href="/porsche/porsche-speaker-fix"
        ><span class="d-none d-lg-inline">Porsche</span> Speaker Fix</HeaderLink
      >
    </li>
    <li class="nav-item">
      <HeaderLink href="/porsche/porsche-door-pocket-fix"
        ><span class="d-none d-lg-inline">Porsche</span> Door Fix</HeaderLink
      >
    </li>
  </ul>
</div>

<style lang="scss">
  .nav-link {
    font-weight: 600;
    color: var(--sim-gray);
    &.active {
      background-color: transparent;
      border-radius: 0;
      border-bottom: 0.3rem solid var(--sim-red);
      color: var(--sim-red);
    }
  }
  .nav-link:focus,
  .nav-link:hover {
    color: var(--sim-red);
  }
</style>

<script define:vars={{}}>
  const navItemProducts = document?.getElementById('nav-porsche');
  navItemProducts?.classList.add('active');
</script>
