---
const { item } = Astro.props;
---

<li>
  <a class="link-effect" href={item.linkUrl} target="_blank">
    {item.linkText}
    <!-- {item.imgSrc && <img src={item.imgSrc} alt={item.linkText} />} -->
  </a>
</li>

<style>
  li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    flex-basis: 50%;
  }

  img {
    max-width: 100%;
    height: 2rem;
  }

  a.link-effect {
    padding-top: 0.225rem;
    padding-bottom: 0.225rem;
  }

  @media (min-width: 1200px) {
    li {
      flex-basis: 33.33%;
    }
  }
</style>
