---
const { url, description } = Astro.props;
---

<div>
  <img src={url} alt={description} />
  <h5>{description}</h5>
</div>
<style lang="scss">
  div {
    display: flex;
    align-items: center;
    h5 {
      padding-left: 2rem;
    }
  }
</style>
