---
import { SIM_BLACK } from "../config";
import soundInMotionImg from "../images/logos/sound-in-motion.png";

const textColor = SIM_BLACK;
---

<div id="sim-logo">
  <img
    src={soundInMotionImg}
    alt="Sound in Motion - High Performance Car Audio - Boston MA"
    class="img-fluid"
  />
  <h4>High Performance Car Audio</h4>
  <h4>Boston MA</h4>
</div>

<style lang="scss" define:vars={{ textColor }}>
  #sim-logo {
    width: 300px;
    h4 {
      font-family: sans-serif;
      font-style: italic;
      font-size: 1.3rem;
      font-weight: bolder;
      letter-spacing: -0.07rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      color: var(--textColor);
      + h4 {
        text-align: right;
        margin-right: 0.3rem;
      }
    }
  }
</style>
