---
import IconCaret from '../components/IconCaret.astro';
---

<ul class="list-unstyled">
  <li>
    <IconCaret class="caret" />
    <a href="/audio-systems">Upgraded and High Performance Car Audio Systems</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/audio-integrations">Apple CarPlay & Android Auto Integration</a>
  </li>

  <li>
    <IconCaret class="caret" />

    <a href="/defense-systems">Radar & Laser Detection and Defense Systems</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/porsche#cup-holder">Porsche Specific Upgrades & Fixes</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/car-cameras">Reverse, Front & 360 Birdseye View Cameras</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/dsp-tuning">Advanced DSP Tuning</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/sound-deadening">Sound Deadening</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/adas">ADAS (Advanced Driver Assistance Systems)</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/remote-security">Remote Car Starters & Security Systems</a>
  </li>
  <!-- <a href="installsDetail.html?id=10">Vehicle Security Systems</a> car starters and security will be merged -->

  <li>
    <IconCaret class="caret" />
    <a href="/radio-integrations">Satellite & HD Radio Integration</a>
  </li>
  <!-- <li><a href="installsDetail.html?id=8">HD Radio</a></li> HD radio and Satellite will be merged -->

  <li>
    <IconCaret class="caret" />
    <a href="/lighting-upgrades">LED Lighting Upgrades</a>
  </li>

  <li>
    <IconCaret class="caret" />
    <a href="/tracking-systems">GPS Tracking and Fleet Management Systems</a>
  </li>
  <!-- <li><a href="installsDetail.html?id=12">GPS Tracking Systems</a></li> -->

  <li>
    <IconCaret class="caret" />
    <a href="/custom-fabrication">Custom Fabrication with Plastic, Wood, Metal etc.</a>
  </li>
</ul>
<style lang="scss">
  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1rem;
    .caret {
      color: var(--sim-red);
      vertical-align: baseline;
      display: none;
    }
  }

  @media (min-width: 375px) {
    li {
      font-size: 1.2rem;
      .caret {
        display: inline;
      }
    }
  }

  @media (min-width: 992px) {
    ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
    }
    li {
      margin-bottom: 1rem;
      flex-basis: 50%;
    }
  }
</style>
