---
import ServiceItem from './ServiceItem.astro';
---

<ul>
  <li>
    <ServiceItem
      url="/audio-systems"
      src="/homepage/06.jpg"
      title="Upgraded and High Performance Car Audio Systems"
    />
  </li>

  <li>
    <ServiceItem
      url="/audio-integrations"
      src="/homepage/014.jpg"
      title="Apple CarPlay & Android Auto Integration"
    />
  </li>

  <li>
    <ServiceItem
      url="/defense-systems"
      src="/homepage/018.jpg"
      title="Radar & Laser Detection and Defense Systems"
    />
  </li>

  <li>
    <ServiceItem url="/porsche" src="/homepage/08.jpg" title="Porsche Specific Upgrades & Fixes" />
  </li>

  <li>
    <ServiceItem
      url="/car-cameras"
      src="/homepage/024.jpg"
      title="Reverse, Front & 360 Birdseye View Cameras"
    />
  </li>

  <li>
    <ServiceItem url="/dash-cameras" src="/homepage/03.jpg" title="Dash Cameras" />
  </li>

  <li>
    <ServiceItem url="/dsp-tuning" src="/homepage/014.jpg" title="Advanced DSP Tuning" />
  </li>

  <li>
    <ServiceItem url="/sound-deadening" src="/homepage/02.jpg" title="Sound Deadening" />
  </li>

  <li>
    <ServiceItem
      url="/advanced-driver-assistance-systems"
      src="/homepage/021.jpg"
      title="ADAS (Advanced Driver Assistance Systems)"
    />
  </li>

  <li>
    <ServiceItem
      url="/remote-security"
      src="/homepage/018.jpg"
      title="Remote Car Starters & Security Systems"
    />
  </li>

  <li>
    <ServiceItem
      url="/radio-integrations"
      src="/homepage/016.jpg"
      title="Satellite & HD Radio Integration"
    />
  </li>

  <li>
    <ServiceItem url="/lighting-upgrades" src="/homepage/024.jpg" title="LED Lighting Upgrades" />
  </li>

  <li>
    <ServiceItem
      url="/tracking-systems"
      src="/homepage/023.jpg"
      title="GPS Tracking and Fleet Management Systems"
    />
  </li>

  <li>
    <ServiceItem
      url="/custom-fabrication"
      src="/homepage/013.jpg"
      title="Custom Fabrication with Plastic, Wood, Metal etc."
    />
  </li>
</ul>
<style lang="scss">
  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 375px) {
    ul {
      li {
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: 992px) {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-bottom: 1rem;
        flex-basis: 50%;
        &:nth-child(even) {
          padding-left: 1rem;
        }
        &:nth-child(odd) {
          padding-right: 1rem;
        }
      }
    }
  }
</style>
