---
import '../styles/bootstrap.min.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from '../config';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon-sim.svg" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="keywords" content={SITE_KEYWORDS} />
    <title>{title} - {SITE_TITLE}</title>
  </head>
  <body class="d-flex flex-column h-100">
    <Header />
    <slot />
    <Footer />
    <script>
      import '../scripts/bootstrap.bundle.min.js';
    </script>
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --sim-red: #bd0000;
    --sim-red-secondary: hsla(0, 0%, 100%, 0.3);
    --sim-blue: #3d9ee3;
    --sim-white: #fff;
    --sim-white-secondary: #f6f6f6;
    --sim-gray: #5a5a5a;
    --sim-gray-lt: #6c757d;
    --sim-gray-xlt: #dee2e6;
    --sim-black: #333;
  }

  html {
    background-color: var(--sim-white-secondary);
  }

  body {
    padding-top: 3.5rem;
    color: var(--sim-gray);
    background-color: transparent;
  }

  main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  section {
    margin-bottom: 5rem;
  }

  a,
  a:hover {
    text-decoration: none;
    color: var(--sim-gray);
  }

  .cardone {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
  }

  .fade-in {
    animation: fadeIn linear 0.3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    body {
      padding-top: 3.5rem;
    }
  }

  @media (min-width: 992px) {
    body {
      padding-top: 3.9rem;
    }

    .link-effect {
      box-shadow: inset 0 0 0 0 var(--sim-red);
      color: var(--sim-gray);
      margin: 0 -0.225rem;
      padding: 0 0.225rem;
      border-radius: 0.25rem;
      transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      &:hover {
        box-shadow: inset 12rem 0 0 0 var(--sim-red);
        color: white;
      }
    }
  }
</style>
