---
import "../styles/bootstrap.min.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_KEYWORDS,
  SIM_WHITE_SECONDARY,
  SIM_GRAY,
} from "../config";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const bodyColor = SIM_WHITE_SECONDARY;
const fontColor = SIM_GRAY;
---

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon-s.svg" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="keywords" content={SITE_KEYWORDS} />
    <title>{title} - {SITE_TITLE}</title>
  </head>
  <body class="d-flex flex-column h-100">
    <Header />
    <slot />
    <Footer />
    <script>
      import "../scripts/bootstrap.bundle.min.js";
    </script>
  </body>
</html>
<style is:global define:vars={{ bodyColor, fontColor }}>
  html {
    background-color: var(--bodyColor);
  }

  body {
    padding-top: 3.5rem;
    color: var(--fontColor);
    background-color: transparent;
  }

  main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: 768px) {
    body {
      padding-top: 5.4rem;
    }
  }

  @media (min-width: 992px) {
    body {
      padding-top: 5.2rem;
    }
  }
</style>
