---
import Layout from "../../layouts/Layout.astro";
import MediaNav from "../../components/MediaNav.astro";
import Testimonial from "../../components/Testimonial.astro";
import data from "../../data/testimonals.json";
const title = "Testimonials";
const { testimonials } = data;
---

<Layout title={title}>
  <main>
    <MediaNav />
    <div class="container">
      <h1 class="display-6">{title}</h1>
      <p class="lead">
        Some of our high profile customers include members of the Boston Red Sox, New England
        Patriots, Boston Celtics, Bose Corporation, Cross Country Automotive Services, Herb Chambers
        Porsche / BMW / Toyota, Novint Technologies, Mercedes of Westwood, Chambers Motorcars,
        Rockingham Scion and many more. See what they have to say about us.
      </p>
      {testimonials.map((item) => <Testimonial item={item} />)}
    </div>
  </main>
</Layout>
<style>
  main {
    padding-top: 0;
  }
</style>
